html { overflow-y: scroll; }
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}
div { margin: 0px; padding: 0px; }
h1 { margin: 0px; padding: 12px 12px 12px; font-size: 100%; }
h1 {
  line-height: 1.4;
  font-family: Georgia, 'times new roman', times, serif;
  font-size: 120%;
  text-align: right;
  color: #303030;
}
div#main {
  color: #303030;
  height: 100%;
  padding: 0px 12px 0px;
}
#message {
  font-size: 60%;
  line-height: 1.4;
  font-family: Georgia, 'times new roman', times, serif;
  color: white;
}
div#picker {
  padding: 12px 0px 12px;
  font-size: 70%;
  text-align: right;
}
label { font-family: sans-serif; }
input { font-family: mono; }
